.container{
    padding: 30px 50px;
}
.bigdiv{ 
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.filter_divs{
    width: 25%;
    border: 1px solid rgba(101, 99, 99, 0.204); 
    padding: 10px 7px;
    border-radius: 5px;
}
.filter_divs div{
    display: flex;
    justify-content: space-between;
    padding: 7px 0px;
    font-size: 12px;
}
.filter_divs div h4{
    color: #2c556d;
}
/* __________________Card___________ */
.cardBigDiv{
    width: 74%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

