.container{
    padding: 30px 50px;
}
.headerdiv{
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
}
.latestBigDiv{
    display: flex;
    gap: 20px;
}

.latestBigDivCarusel{
    width: 100%;
    padding: 50px 0px;
}
.latestMiniDiv{
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.601);
    border-radius: 20px;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;

}
.latestMiniImg{
    width: 50%;
    height: 280px;
    border-radius: 10px;
}
.latestMiniImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;

}
.latestTextDiv{
    width: 45%;
}
.latestTextDate{
    width: 45%;
    padding: 5px 10px;
    border: 1px solid rgba(128, 128, 128, 0.629);
    border-radius: 20px;
    font-size: 14px;
}
.latestTextDiv h2{
    padding: 15px 0px;
}
.latestTextDiv p{
    font-size: 15px;
    font-weight: 600;
    padding: 16px 0px;
}
@media only screen and (max-width: 450px) {
  

}

@media only screen and (max-width: 600px) {
  
   

}

@media only screen and (max-width: 768px) {
    .container{
        padding: 30px 0px;
    }
    .latestMiniDiv{
        flex-direction: column;
    }
    .latestMiniImg, .latestTextDiv{
        width: 100%;
        padding: 17px 0px;
    }


}

@media only screen and (max-width: 992px) {
 

}

@media only screen and (min-width: 1200px) {

}
   

