.container{
    padding: 30px 50px;
}
.bigdiv{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.miniDivCarusel{
    width: 60%;
    border: 1px solid rgba(128, 128, 128, 0.496);
    padding: 0px 20px;
    border-radius: 20px;
}
.miniDiv{
    width: 100%;
    padding: 50px 0px;
}
.miniDiv1{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.miniImgDiv {
    width: 50%;
    height: 290px;
    border-radius: 20px;
}
.miniImgDiv img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;

}
.miniTextDiv{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.spans{
    display: flex;
    justify-content: space-between;
    padding-right: 6px;
}
.spans span{
    width: 50px;
    height: 50px;
    background-color: #E2F4FF;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: #EDA415;
}
.miniTextDiv p{
    padding: 10px 0px;
    font-weight: 700;
    font-size: 14px;
}
.btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    /* border: 1px solid black; */
}
.btn1{
    width: 80%;
    background-color: #87BCD9;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 60px;
    border: 1px solid #87BCD9;
    border-radius: 20px;
}
.btn1 img{
    width: 30px;
}
.btn2{
    padding: 6px 10px;
    background-color: #87BCD9;
    border-radius: 20px;
    border: 1px solid #87BCD9;
    margin: 0px 20px;
}
.smallMiniDiv{
    width: 35%;
    gap: 10px;
   
}
.smallDiv{
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.593);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-radius: 15px;
}
.smallDivImg{
    width: 50%;
    height: 100px;

}
.smallDivImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.smallDivText{
    width: 40%;
}
.smallDivText p{
    font-size: 12px;
    font-weight: 700;
    padding: 10px 0px;
}


/* _________________Swiper__________ */
/* .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-pagination-bullet {
	background-color: #fff !important;
	border: 1px solid grey !important;
	width: 16px !important ;
	height: 16px !important;
}

.swiper-pagination-bullet-active {
	border: 1px solid #eda415 !important;
	background-color: #eda415 !important;
	width: 16px !important;
	height: 16px !important;
}
.appp{
    background-color: #eda415;
} */