.navbarBox{
    height: 60px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F4F4F4;
    font-size: 15px;
}
.navbarBoxLeft{
    display: flex;
    justify-content: space-between;
}
.navbarBoxRight{
    color: #003F62;
}
.navbarCategories{
    margin-left: 50px;
}
ul{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
ul > li{
    padding: 10px;
}
ul > img{
    padding:0 15px;
}

.toggle-button {
	position: relative;
	top: 0.75rem;
	left: 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 25px;
	height: 21px;
	cursor: pointer;
}

.bar {
	height: 3px;
	width: 100%;
	background-color: black;
	border-radius: 10px;
}

@media only screen and (max-width: 1076px) {
	.toggle-button {
		display: flex;
	}

	.navbar {
		position: absolute;
		flex-direction: column;
		align-items: flex-start;
		z-index: 2;
		background-color: grey;
		color: #fff;
	}
	.navbar li:hover {
		background-color: rgb(107, 96, 96);
	}
}




@media only screen and (max-width: 450px) {
  

}

@media only screen and (max-width: 600px) {
  
    .navbarBoxLeft ul{
        font-size: 17px;
    }
    /* .minidiv p{
        font-size: 14px;
    } */
  
    .navbarBox{
        height: 200px;
    }


}

@media only screen and (max-width: 768px) {
    
    }



@media only screen and (min-width: 992px) {
   
}

@media only screen and (min-width: 1200px) {

}
