.container{
    padding: 30px 50px;

}
.bigdiv{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.minidiv{
    width: 24%;
    border: 1px solid rgba(85, 83, 83, 0.525);
    border-radius: 20px;
    padding: 10px 10px 30px 10px;
    transition: 0.5s;

}
.miniDivImgBig{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px;
}
.miniDivImg{
    width: 60%;
    height: 200px;
}
.miniDivImg img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.miniDivImgBig .favorite{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #245a75;
    border: 1px solid #245a75;
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0;
    cursor: pointer;
    transition: 0.3s;
}
.miniDivImgBig .basket{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #245a75;
    border: 1px solid #245a75;
    color: white;
    position: absolute;
    top: 60px;
    right: 10px;
    opacity: 0;
    transition: 0.8s;
    cursor: pointer;
}
.minidiv :hover .basket,
.minidiv :hover .favorite
{
    opacity: 1;
}
.minidivFilter{
    width: 32%;
    border: 1px solid rgba(85, 83, 83, 0.525);
    border-radius: 20px;
    padding: 10px 10px 30px 10px;
    transition: 0.5s;

}
.minidivFilter :hover .basket,
.minidivFilter :hover .favorite
{
    opacity: 1;
}

.filterBigDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}
.filterBtns ul li{
    padding: 10px 30px;
    margin: 0px 5px;
    border-radius: 20px;
    border: 1px solid rgba(128, 128, 128, 0.496);
    background-color: white;
    cursor: pointer;
    transition: 0.5s;
}

@media only screen and (max-width: 450px) {
  

}

@media only screen  and (max-width: 600px) {
    .container{
        padding: 30px 10px;
    }
  
    .minidiv{
        width: 100%;
      }
      .filterBigDiv{
        flex-direction: column;
      }
      .filterBtns ul li{
        padding: 10px 15px;
        font-size: 12px;
    }
}

@media (min-width: 600px)and (max-width: 768px) {
    .container{
        padding: 30px 10px;
    }
    .minidiv{
        width: 49%;
      }
      .filterBigDiv{
        flex-direction: column;
      }
      .filterBtns ul li{
        padding: 10px 15px;
        font-size: 13px;
    }

}

@media (min-width: 768px) and (max-width: 992px) {
    .minidiv{
        width: 33%;
      }
      .filterBigDiv h3{
        font-size: 12px;
      }
      .filterBtns ul li{
        padding: 10px 15px;
        font-size: 13px;
    }

}


.clear{
    padding: 8px 20px;
    margin-left: 30px;
    margin-top: 20px;
    background-color: #245a75;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}
.clear:hover{
    background-color: white;
    color: #245a75;
}