
@font-face {
	font-family: 'Poppins';
	src: url(./assets/fonts/Poppins-Medium.ttf) format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
	font-family: 'Poppins';
}


